body {
  height: 100%;
  background-color: $whithe;

}

 .section1, .section4, .article .article1__container {
   background-color: $jelly_bean;
   color: $snow;

 }

.section2, .footer {
  background-color: $granite-gray;
  color: $snow;

}

h2, h3, h4, button{
  text-align: center;
  font-weight: 700;
}

p {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align: justify;
  padding: 0 20%;
}
