//Esquema de colores

//Primer esquema de color
$whithe: #fff;
$snow:#fafafa;
$quick-siver: #a0a0a0;

//segundo esquema de colores
$jelly_bean: #e56353;
$salmon:#e97f72;
$pastel-pink: #f0a9a1;

//tercer esquema de colores
$granite-gray: #686963;
$taupe-gray: #91918d;
$gray: #babab8;

//tipografía
$raleway: 'Raleway', sans-serif;

//peso de fuentes
$extra-ligth: 200;
$regular: 400;
$bold: 700;

//tamaños de fuentes
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
