/* Error: expected "{".
 *   ,
 * 7 | x
 *   |  ^
 *   '
 *   assets/sass/base/_base.scss 7:2  root stylesheet
 *   assets/sass/main.scss 4:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 7 \2502  x\a   \2502   ^\a   \2575 \a   assets/sass/base/_base.scss 7:2  root stylesheet\a   assets/sass/main.scss 4:9        root stylesheet';
}
